<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>microProfile-3.3</feature>
        <feature>ejbLite-3.2</feature>
        <feature>jms-2.0</feature>
        <feature>mdb-3.2</feature>
    </featureManager>

    <logging consoleLogLevel="INFO"  />

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9081"
                  httpsPort="9444"/>

    <resourceAdapter autoStart="true" id="artemis" location="${shared.resource.dir}artemis-rar-openliberty-2.13.0.rar">
        <properties.artemis connectionParameters="host=h50l960.suvanet.ch;port=61616" userName="admin" password="admin"
                            ConnectorClassName="org.apache.activemq.artemis.core.remoting.impl.netty.NettyConnectorFactory"
                            ClientID="${project.name}"/>
    </resourceAdapter>

    <connectionFactory id="ArtemisCF" jndiName="jms/myCF">
        <properties.artemis/>
    </connectionFactory>

    <jmsActivationSpec id="${project.name}/JmsReceiverEJB">
        <properties.artemis destinationType="javax.jms.Queue"
                            destination="sampleQueue"
                            user="admin" password="admin"/>
    </jmsActivationSpec>

    <webApplication location="${project.name}.war" name="${project.name}" contextRoot="/">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>

    <mpMetrics authentication="false"/>
    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />

    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="theKeyId" audiences="targetService" issuer="${jwt.issuer}"/>

</server>
